*{
    background-color: rgb(120, 197, 225);
}
.mainbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 0px;
}
#ans{
    order: 99;
}

.inp{
    border: 0.01px solid black;
    border-radius: 10px;
    width: 200px;
    font-size: 40px;
    text-align: center;
}

.submit{
    font-size: 30px;
    border-radius: 7px;
    padding: 7px;
    transition: background-color 0.25s;
    cursor: pointer;
}

.submit:hover{
    background-color: rgb(174, 185, 247);
}